


@media screen and (max-width: 576px) {
    body{
        padding: 0px 15px;
        margin: 0px auto;
    }
    .humbergar{
        display: block
    }
    .menu{
        display: none;
    }  

    /* hero section */
    .hero-section{
        display: flex;
        flex-direction: column;
    }
    .hero-title{
        font-size: 36px;
        line-height: 120%;
    }
    .hero-right{
        margin-bottom: -130px;
    }
    .hero-btn-container{
        display: flex;
        justify-content: space-around;
    }
    .btn-hero, .btn-hero-2 {
        font-size: 14px;
        padding: 12px 20px;
    }    
    .middle-node{
        bottom: 510px;
        left: 185px;
    }
    .bottom-node{
        bottom: 355px;
        left: 10px;
    }

    /*** habit area style ***/
    .habit-card-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /*** run extra area style ***/
    .run-extra-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .run-extra-img{
        width: 94%;
    }

    /*** training and exercise area style ***/
    .training-img-with-content-3,
    .training-img-with-content-6{
        display: none;
    }

    /*** calculator area style ***/
    .calculator-area{
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
    }

    /*** meat our team area style ***/
    .team-card-container{
        padding: 10px;
    }
    .team-card3,
    .team-card6{
        display: none;
        width: 100%;
    }
    .team-card1,
    .team-card2,
    .team-card3,
    .team-card4,
    .team-card5,
    .team-card6{
        width: 100%;
    }
    .team-card-container1,
    .team-card-container2{
        display: grid;
        grid-template-columns: 1fr;
        gap:10px;
    }

    /*** feedback area style ***/
    .feedback-area{
        grid-template-columns: 1fr;
    }

    /*** footer style ***/
    .footer-container{
        grid-template-columns: 1fr;
    }
}
